<h1>Food Truck Registration Page</h1>

<%= form_for @foodtruck do |f| %>
  <%= f.label :truck_name %>
  <%= f.text_field :truck_name %>

  <%= f.label :type_of_food%>
  <%= f.text_field :type_of_food %>

  <%= f.label :sample_item %>
  <%= f.text_field :sample_item %>

  <%= f.label :website %>
  <%= f.text_field :website %>

  <%= f.label :twitter %>
  <%= f.text_field :twitter %>

  <%= f.label :password %>
  <%= f.text_field :password %>

  <%= f.label :confirm_password %>
  <%= f.text_field :confirm_password %>

  <%= f.submit "Save" %>
<% end %>




  
