<h1>Foodtruck Information</h1>

<h1><%= @foodtruck.name %></h1>
<h3><%= @foodtruck.type_of_food %></h3>
<h3><%= @foodtruck.sample_item %> </h3>
<h3> <%= @foodtruck.link %> </h3>
<h3> <%= @foodtruck.twitter %>

